.custom-thumbnail {
    width: 100px;
    border: none;
    box-shadow: none;
}

.checkbox-input {
    margin-left: 0px !important; 
}

.checkbox-label {
    font-weight: bold;
}

.col-delete a {
    cursor: pointer
}

.col-edit, .col-delete {
    width: 25px;
}

.col-edit i, .col-delete i {
    color: #000;
}