<div ng-include="'menu.html'"></div>
<div id="main" class="container-fluid">
	<form ng-submit="save()">
		<div class="row">
			<div class="form-group col-md-4">
				<label for="name">Cliente *</label>
				<input id="name" type="text" class="form-control" required ng-model="sale.client">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="product">Nome do produto *</label>
				<input id="product" type="text" class="form-control" required ng-model="sale.product">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="reg">Quantidade *</label>
				<input id="quantity" type="number" min="1" class="form-control" required ng-model="sale.quantity">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="unitary">Valor unitário *</label>
				<input id="unitary" type="number" min="0" class="form-control" required="true" ng-model="sale.unitary" step="0.01">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4 checkbox">
				<input id="received" class="checkbox-input" type="checkbox" ng-model="sale.received" ng-checked="sale.received == 1">
				<label for="received" class="checkbox-label">Recebido</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<button class="btn btn-primary" type="button" ui-sref="sales">Cancelar</button>
				<button class="btn btn-primary" type="submit">Salvar</button>
			</div>
		</div>
	</form>
</div>