<div ng-include="'menu.html'"></div>
<div class="filter-date">
    <form ng-submit="filter()">
        <div class="form-group col-md-2">
            <label for="initial-date">Data inicial</label>
            <input id="initial-date" type="date" class="form-control" required ng-model="initialDate">
        </div>
        <div class="form-group col-md-2">
            <label for="final-date">Data final</label>
            <input id="final-date" type="date" class="form-control" required ng-model="finalDate">
        </div>
        <button class="btn btn-primary btn-search" type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>
</div>
<div google-chart chart="reportChart" class="chart-report" data-ng-init="filter()"></div>