<div ng-include="'menu.html'"></div>
<button type="button" ui-sref="new" class="btn btn-primary btn-new">Nova venda</button>
<table class="table table-bordered" data-ng-init="getAll()">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Nome do produto</th>
            <th>Quantidade</th>
            <th>Valor unitário</th>
            <th>Valor total</th>
            <th>Recebido</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="sales.length == 0">
            <td colspan="8">Nenhuma venda efetuada.</td>
        </tr>
        <tr ng-repeat="sale in sales track by (sale.id)">
            <td>{{sale.client}}</td>
            <td>{{sale.product}}</td>
            <td>{{sale.quantity}}</td>
            <td>R$ {{sale.unitary.toFixed(2)}}</td>
            <td>R$ {{sale.total.toFixed(2)}}</td>
            <td class="col-received">
                <input type="checkbox" ng-model="sale.received" ng-checked="sale.received == 1" ng-change="update(sale)">
            </td>
            <td class="col-edit">
                <a ui-sref="edit({id:sale.id})" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
            <td class="col-delete">
                <a ng-click="delete(sale.id)" title="Excluir"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<div ng-include="'confirm.html'"></div>